/* Flex utilities */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.item-center {
    align-items: center;
}

.border {
    border: 2px solid red;
    margin: 3px;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

.mt-auto {
    margin-top: auto;
}

/* Responsive */
@media (max-width: 768px) {
    .container.flex {
        flex-direction: column;
    }
    
    .card {
        width: calc(50% - 16px);
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
        max-width: 300px;
    }
}