*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: black; */
    color: rgb(15, 13, 13);
}
.left{
    width: 25vw;
    padding: 34px;
}
.right{
    width: 75vw;
}

.home ul li{
    width: 14px;
list-style: none;
display: flex;
gap: 3px;
}

.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}