
.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
  justify-content: center;  
}
.items-center{
    align-items: center;
}

.bg-grey{
    background: color #776f6f;
} 